{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ramzi_nail | Маникюр, педикюр, оформление бровей, наращивание ресниц</title>
	<link rel="shortcut icon" href="{% static '/src/assets/img/icon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static '/src/sass/css/index.css' %}">
	<script type="text/javascript" src="https://dikidi.ru/assets/js/widget_record/widget2.min.js" defer></script>
	<script src="{% static '/src/js/slider.js' %}" defer></script>
	<script src="{% static '/src/js/index.js' %}" defer></script>
	<script type="text/javascript" src="https://spikmi.org/Widget?Id=16402" defet></script>
</head>

<body>
	<!-- Здесь шаблон -->
	<div class="popups">
		<div class="popup_dark"></div>
		<div class="container">
			<!-- Шаблон -->
            {% for j in courses %}
			    <div class="popup__wrap popup-{{ forloop.counter }}">
				<div class="popup__info">
					<div class="popup__info__title">
						<h1>{{ j.name }}</h1>
						<img id="popup-close{{ forloop.counter }}" src="{% static '/src/assets/img/close.svg' %}" alt="">
					</div>
					<div class="popup__info__desc">
						<div class="buy">
							<img src="{{ j.photo.url }}" alt="">
							<a target="_blank" href="https://wa.me/+79201204435" class="enroll1">Записаться</a>
						</div>
						<div class="text">
							<h4>Список закупки</h4>
							<div class="mb-4">
								<h3>Название: </h3>
								<span>{{ j.name }}</span>
							</div>
							<div class="mb-4">
								<h3>Цена: </h3>
								<span>{{ j.cost }} р.</span>
							</div>
							<div class="mb-4">
								<h3>Формат обучения: </h3>
								<span>{{ j.format|linebreaks }}</span>
							</div>
							<div class="mb-4">
								<h3>Документ: </h3>
								<span>{{ j.type_document }}</span>
							</div>
							<div class="mb-4">
								<h3>Срок обучения: </h3>
								<span>{{ j.term|linebreaksbr }}</span>
							</div>
							<div class="mb-4">
								<h3>Программа: </h3>
								<span>{{ j.program|linebreaks }}</span>
							</div>
							<div class="mb-8">
								<h3>Дополнительно: </h3>
								<span>{{ j.extra|linebreaks }}</span>
							</div>
							<a target="_blank" href="https://wa.me/+79201204435" class="enroll2">Записаться</a>
						</div>
					</div>
				</div>
			</div>
            {% endfor %}
			<!-- Шаблон -->
		</div>
	</div>
	<!-- Bg video -->
	<div id="darkness" class="darkness"></div>
	<video autoplay muted loop id="myVideo">
		<source src="{% static '/src/assets/video/school.webm' %}" type="video/mp4">
	</video>
	<!-- Popup navigation -->
	<nav class="popup-nav">
		<div class="popup-nav__wrap">
			<span>
				<h1>Навигация по сайту</h1>
				<ul>
					<li>
						<a href="#about-scroll">- Обо мне</a>
					</li>
					<li>
						<a href="#courses-scroll">- Курсы</a>
					</li>
					<li>
						<a href="#examples-scroll">- Примеры</a>
					</li>
					<li>
						<a href="{% url 'index' %}">- ramzi_nail</a>
					</li>
					<li style="margin-bottom: 25px;">
						<a href="#contacts-scroll">- Контакты</a>
					</li>
                    {% if user.is_authenticated %}
					<li>
						<a href="{% url 'profile' user.pk %}">- Профиль</a>
					</li>
					<li>
						<a href="{% url 'logout' %}">- Выйти</a>
					</li>
                    {% else %}
					<li>
						<a href="{% url 'login' %}">- Войти</a>
					</li>
					<li>
						<a href="{% url 'registration' %}">- Создать аккаунт</a>
					</li>
                    {% endif %}
				</ul>
			</span>
			<img id="popup-nav_close" src="{% static '/src/assets/img/close.svg' %}" alt="">
		</div>
	</nav>
	<!-- Navigation -->
	<nav class="nav">
		<div class="nav__menu__wrap">
			<button id="popup-nav_open" class="nav__menu">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<ul class="nav__links">
			<ul>
				<li>
					<a href="#about-scroll">Обо мне</a>
				</li>
				<li>
					<a href="#courses-scroll">Курсы</a>
				</li>
				<li>
					<a href="#examples-scroll">Примеры</a>
				</li>
				<li>
					<a href="{% url 'index' %}">ramzi_nail</a>
				</li>
				<li>
					<a href="#contacts-scroll">Контакты</a>
				</li>
			</ul>
		</ul>
		<a href="tel:89022277790" class="nav__call button">+7-920-120-44-35</a>
	</nav>
	<!-- Hero section -->
	<header class="header">
		<div class="container">
			<div class="header__wrap">
				<div class="header__promo">
					<h1>RAMZI SCHOOL</h1>
					<p>"Точка профессионального роста"</p>
				</div>
			</div>
		</div>
	</header>
	<!-- About -->
	<section id="about-scroll" class="about">
		<div class="container">
			<div class="about__wrap">
				<div class="about__wrap__left">
					<div class="about__wrap__left__info">
						<h1>Обо мне</h1>
						<ul>
							<li>
								<span>Медицинское среднеспециональное образование</span>
							</li>
							<li>
								<span>Дополнительное образование</span> подолога « Лечение и восстановление
								травмированных и
								деформированных
								ногтей, обработка кожи рук и стоп людей с хроническими заболеваниями»
							</li>
							<li>
								<span>Дополнительное образование</span> по направлению инструктор ногтевого сервиса с
								лицензией
								Право выдавать дипломы о дополнительном образовании мастера ногтевого сервиса
							</li>
						</ul>
						<h2>А так же: </h2>
						<ul class="about__wrap__left__info_bg">
							<li>
								<span>7 лет</span> в nail индустрии
							</li>
							<li>
								<span>Более 45</span> обучающих курсов стоимостью 400.000
							</li>
							<li>
								<span>Обладатель Гран При</span> в международном чемпионате по маникюру и педикюру
								«Золотая Долина» 9
								золотых, 2 серебряных и одна бронзовая победы
							</li>
							<li>
								<span>Более 8000 маникюров 5000 наращиваний</span> за моими плечами
							</li>
						</ul>
					</div>
					<!-- <img class="about__wrap__left__mapple" src="./src/assets/img/maple.png" alt=""> -->
					<img class="about__wrap__left__self" src="{% static '/src/assets/img/self.png' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="process">
		<div class="container">
			<div class="process__wrap">
				<div class="process__item">
					<img class="element-animation" src="{% static '/src/assets/img/round_nails.png' %}" alt="">
					<p>"Обучаем профессии мастера маникюра с нуля"</p>
				</div>
				<div class="process__item">
					<img class="element-animation" src="{% static '/src/assets/img/round_scissors.png' %}" alt="">
					<p>"Предоставляем все материалы и моделей для обработки"</p>
				</div>
				<div class="process__item">
					<img class="element-animation" src="{% static '/src/assets/img/round_grade.png' %}" alt="">
					<p>"Выдаем диплом государственного образца по окончанию обучения"</p>
				</div>
			</div>
		</div>
	</section>
	<section id="courses-scroll" class="courses">
		<div class="container">
			<div class="courses__title element-animation">
				<h1>Наши курсы</h1>
				<p>"В каждый курс мы вкладываем нашу душу и опыт"</p>
			</div>
			<div class="courses__wrap">

                {% for j in courses %}
                    <div class="courses__item">
                        <img src="{{ j.photo.url }}" alt="">
                        <div class="courses__item__info">
                            <h2>{{ j.name }}</h2>
                            <div class="bottom">
                                <div>
                                    <p class="old">{{ j.old_cost }} р.</p>
                                    <p class="new">{% if j.cost == 0 %}БЕСПЛАТНО{% else %}{{ j.cost }} р.{% endif %}</p>
                                </div>
                                <span>
                                    <a target="_blank" href="https://wa.me/+79201204435" class="enroll">Записаться</a>
                                    <button id="course-{{ forloop.counter }}" class="more">Подробнее</button>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

			</div>
		</div>
	</section>
	<section id="examples-scroll" class="examples" style="background-color: rgb(204, 214, 204); z-index: 70;">
		<div class="container">
			<h1 class="examples__title" style="margin-bottom: 2rem;">Работы учениц</h1>
			<div class="examples__wrap">
				<img class="rotate_left  element-animation" src="{% static '/src/assets/img/examples_school/1.webp' %}" alt="">
				<img class="rotate_right" src="{% static '/src/assets/img/examples_school/2.webp' %}" alt="">
				<img class="rotate_left element-animation" src="{% static '/src/assets/img/examples_school/3.webp' %}" alt="">
				<img class="rotate_right" src="{% static '/src/assets/img/examples_school/4.webp' %}" alt="">
				<img class="rotate_right element-animation" src="{% static '/src/assets/img/examples_school/5.webp' %}" alt="">
				<img class="rotate_left" src="{% static '/src/assets/img/examples_school/6.webp' %}" alt="">
				<img class="rotate_right element-animation" src="{% static '/src/assets/img/examples_school/7.webp' %}" alt="">
				<img class="rotate_left" src="{% static '/src/assets/img/examples_school/8.webp' %}" alt="">
			</div>
		</div>
	</section>
	<!-- Reviews -->
	<section class="reviews">
		<div class="container">
			<h1 class="reviews__title" style="margin-bottom: 2rem;">Отзывы о курсах</h1>
			<div class="reviews__wrap">
				<div class="slider-container  element-animation">
					<a class="arrow1" id="leftArrow" href="#">
						<img class="arrow" src="{% static '/src/assets/img/arrow.png' %}" alt="">
					</a>
					<!--   <div class="slider"> -->
					<div class="items" style="min-height: 725px;" id="items">
						<div class="item" style="text-align: center;">
							<img style="max-width: 400px; text-align: center;" src="{% static '/src/assets/img/rewies_school/1.webp' %}" alt="">
						</div>
						<div class="item">
							<img style="max-width: 400px; text-align: center;" src="{% static '/src/assets/img/rewies_school/2.webp' %}" alt="">
						</div>
						<div class="item">
							<img style="max-width: 400px; text-align: center;" src="{% static '/src/assets/img/rewies_school/3.webp' %}" alt="">
						</div>
						<div class="item">
							<img style="max-width: 400px; text-align: center;" src="{% static '/src/assets/img/rewies_school/4.webp' %}" alt="">
						</div>
						<div class="item">
							<img style="max-width: 400px; text-align: center;" src="{% static '/src/assets/img/rewies_school/5.webp' %}" alt="">
						</div>
					</div>
					<!--   </div> -->
					<a class="arrow2" id="rightArrow" href="#">
						<img class="arrow" src="{% static '/src/assets/img/arrow.png' %}" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer id="contacts-scroll" class="footer">
		<div class="footer__wrap">
			<div class="footer__left">
				<div style="all: unset; position:relative;"><a
						href="https://yandex.ru/maps/16/yaroslavl/?utm_medium=mapframe&utm_source=maps"
						style="color:#eee;font-size:12px;position:absolute;top:0;">Ярославль</a>
					<iframe style="all: unset; width: 100%; height: 450px;"
						src="https://yandex.ru/map-widget/v1/?display-text=ramzi%20nail&ll=39.867812%2C57.580238&mode=search&sctx=ZAAAAAgBEAAaKAoSCYofY%2B5aNERAERiV1AloEExAEhIJz9csl43OmT8RotCy7h8LgT8iBgABAgMEBSgKOABAu58NSAFiK3JlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vRW5hYmxlQmVhdXR5RmlsdGVyPTFqAnJ1nQHNzEw9oAEAqAEAvQE%2FWuKawgEG7J%2Fc8v0E6gEA8gEA%2BAEAggIKcmFtemkgbmFpbIoCAJICBTEwMDYzmgIMZGVza3RvcC1tYXBz&sll=39.867812%2C57.580238&sspn=0.011921%2C0.003786&text=ramzi%20nail&z=17.37">
					</iframe>
				</div>
			</div>
			<div class="footer__right">
				<div class="footer__right__wrap">
					<h1>Наши контакты:</h1>
					<span>"Мы всегда рады помочь вам!"</span>
					<ul>
						<li>
							<div>What's App:</div>
							<a
								href="https://wa.me/+79201204435">+7-920-120-44-35</a>
						</li>
						<li>
							<div>Вконтакте:</div>
							<a target="_blank" href="https://vk.com/ramzi_school">https://vk.com/ramzi_school</a>
						</li>
						<li>
							<div>Инстаграм:</div>
							<a href="https://instagram.com/ramzi_nail?igshid=YmMyMTA2M2Y=">@ramzil_nail</a>
						</li>
						<li>
							<div>Режим работы:</div>
							<a
								href="https://yandex.ru/maps/org/ramzi_nail/171233972204/?from=mapframe&ll=39.866730%2C57.581042&z=16">ПН-ВС
								с 9:00 – 21:00</a>
						</li>
						<li>
							<div>Адрес:</div>
							<a
								href="https://yandex.ru/maps/org/ramzi_nail/171233972204/?from=mapframe&ll=39.866730%2C57.581042&z=16">Ярославль,
								улица Ньютона, 19</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>