{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ramzi_nail | Маникюр, педикюр, оформление бровей, наращивание ресниц</title>
	<link rel="shortcut icon" href="{% static '/src/assets/img/icon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static '/src/sass/css/index.css' %}">
	<script type="text/javascript" src="https://dikidi.ru/assets/js/widget_record/widget2.min.js" defer></script>
	<script src="{% static '/src/js/slider.js' %}" defer></script>
	<script src="{% static '/src/js/index.js' %}" defer></script>
	<script type="text/javascript" src="https://spikmi.org/Widget?Id=16402" defet></script>
</head>

<body class="nailbg">
	<!-- Bg video -->
	<div id="darkness" class="darkness"></div>
	<video autoplay muted loop id="myVideo">
		<source src="{% static '/src/assets/video/nail.webm' %}" type="video/mp4">
	</video>
	<!-- Popup navigation -->
	<nav class="popup-nav">
		<div class="popup-nav__wrap">
			<span>
				<h1>Навигация по сайту</h1>
				<ul>
					<li>
						<a href="#offers-scroll">- Услуги</a>
					</li>
					<li>
						<a href="#examples-scroll">- Примеры работ</a>
					</li>
					<li>
						<a href="{% url 'courses' %}">- ramzi_school</a>
					</li>
					<li style="margin-bottom: 25px;">
						<a href="#contacts-scroll">- Контакты</a>
					</li>
                    {% if user.is_authenticated %}
					<li>
						<a href="{% url 'profile' user.pk %}">- Профиль</a>
					</li>
					<li>
						<a href="{% url 'logout' %}">- Выйти</a>
					</li>
                    {% else %}
					<li>
						<a href="{% url 'login' %}">- Войти</a>
					</li>
					<li>
						<a href="{% url 'registration' %}">- Создать аккаунт</a>
					</li>
                    {% endif %}
				</ul>
			</span>
			<img id="popup-nav_close" src="{% static '/src/assets/img/close.svg' %}" alt="">
		</div>
	</nav>
	<!-- Navigation -->
	<nav class="nav">
		<div class="nav__menu__wrap">
			<button id="popup-nav_open" class="nav__menu">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<ul class="nav__links">
			<ul>
				<li>
					<a href="#offers-scroll">Услуги</a>
				</li>
				<li>
					<a href="#examples-scroll">Примеры работ</a>
				</li>
				<li>
					<a href="{% url 'courses' %}">ramzi_school</a>
				</li>
				<li>
					<a href="#contacts-scroll">Контакты</a>
				</li>
			</ul>
		</ul>
		<a href="tel:89022277790" class="nav__call button">+7-902-227-77-90</a>
	</nav>
	<!-- Hero section -->
	<header class="header">
		<div class="container">
			<div class="header__wrap">
				<div class="header__promo">
					<h1>RAMZI NAIL</h1>
					<p>"Пространство красоты и уюта"</p>
					<a class="button" href="https://dikidi.ru/#widget=114156">Записаться</a>
				</div>
			</div>
		</div>
	</header>
	<!-- Offers -->
	<section id="offers-scroll" class="offers">
		<div class="container">
			<div class="offers__head element-animation">Наши услуги</div>
			<div class="offers__text element-animation">"Мы можем много и немножко больше!"</div>
			<div class="offers__wrap">
				<a href="https://dikidi.ru/#widget=114156" class="offers__item">
					<div class="offers__img-wrap">
						<img id="offers-img" class="offers__img offers__img_one"
							src="{% static '/src/assets/img/Маникюр.jpg' %}" alt="Записаться">
						<p>Записаться</p>
					</div>
					<h3 class="offers__title">Маникюр</h3>
					<p>От 900р.</p>
				</a>
				<a href="https://dikidi.ru/#widget=114156" class="offers__item">
					<div class="offers__img-wrap">
						<img id="offers-img" class="offers__img offers__img_two"
							src="{% static '/src/assets/img/Педикюр.jpg' %}" alt="Записаться">
						<p>Записаться</p>
					</div>
					<h3 class="offers__title">Педикюр</h3>
					<p>От 1100р.</p>
				</a>
				<a href="https://dikidi.ru/#widget=114156" class="offers__item">
					<div class="offers__img-wrap">
						<img id="offers-img" class="offers__img offers__img_one"
							src="{% static '/src/assets/img/main/4.png' %}" alt="Записаться">
						<p>Записаться</p>
					</div>
					<h3 class="offers__title">Оформление бровей</h3>
					<p>От 400р.</p>
				</a>
				<a href="https://dikidi.ru/#widget=114156" class="offers__item">
					<div class="offers__img-wrap">
						<img id="offers-img" class="offers__img offers__img_two"
							src="{% static '/src/assets/img/Наращивание ресниц.jpeg' %}" alt="Записаться">
						<p>Записаться</p>
					</div>
					<h3 class="offers__title">Наращивание ресниц</h3>
					<p>От 800р.</p>
				</a>
			</div>
		</div>
	</section>
	<!-- Greet -->
	<section id="studio-scroll" class="greet">
		<div class="greet__dark"></div>
		<div class="container">
			<div class="greet__wrap">
				<div class="greet__left">
					<h1>Знакомство с мастером</h1>
					<p>«Скидка 10% на первую запись»</p>
					<a class="button greet__btn" href="https://dikidi.ru/#widget=114156">Записаться</a>
				</div>
			</div>
		</div>
	</section>
	<!-- School -->
	<section id="school-scroll" class="school">
		<div class="container">
			<div class="school__wrap">
				<div class="school__left element-animation">
					<div class="school__left__img school__left__img1 element-animation">

					</div>
					<div class="school__left__img school__left__img2  element-animation">

					</div>
					<!-- <div class="school__left__img school__left__img3">

					</div> -->
					<img class="school__left__mapple1" src="{% static '/src/assets/img/maple.png' %}" alt="">
					<img class="school__left__mapple2" src="{% static '/src/assets/img/maple.png' %}" alt="">
				</div>
				<div class="school__right">
					<div>
						<h1>Обучение от ramzi_nail</h1>
						<p>Если ты хочешь попробовать себя в Nail-индустрии, тогда тебе к нам, записывайся на курсы и
							начинай свой путь, занимаясь любимым делом</p>
						<a href="./courses.html" class="button">
							Подробнее
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Examples -->
	<section id="examples-scroll" class="examples">
		<div class="container">
			<h1 class="examples__title">Примеры работ</h1>
			<h2 class="examples__title2">"Мы сделали много и не думаем останавливаться"</h2>
			<div class="examples__wrap">
				<img class="rotate_left  element-animation" src="{% static '/src/assets/img/main/1.png' %}" alt="">
				<img class="rotate_right" src="{% static '/src/assets/img/main/4.png' %}" alt="">
				<img class="rotate_left element-animation" src="{% static '/src/assets/img/main/3.png' %}" alt="">
				<img class="rotate_right" src="{% static '/src/assets/img/main/6.jpeg' %}" alt="">
				<img class="rotate_right element-animation" src="{% static '/src/assets/img/main/7.jpeg' %}" alt="">
				<img class="rotate_left" src="{% static '/src/assets/img/main/2.png' %}" alt="">
				<img class="rotate_right element-animation" src="{% static '/src/assets/img/main/8.jpeg' %}" alt="">
				<img class="rotate_left" src="{% static '/src/assets/img/lst.webp' %}" alt="">
			</div>
		</div>
	</section>
	<!-- Reviews -->
	<section class="reviews">
		<div class="container">
			<h1 class="reviews__title">Отзывы клиентов</h1>
			<h2 class="reviews__title2">"Наши клиенты всегда довольны нашими услугами"</h2>
			<div class="reviews__wrap">
				<div class="slider-container  element-animation">
					<a class="arrow1" id="leftArrow" href="#">
						<img class="arrow" src="{% static '/src/assets/img/arrow.png' %}" alt="">
					</a>
					<!--   <div class="slider"> -->
					<div class="items" id="items">
						<div class="item">
							<img src="{% static '/src/assets/img/rewies_nail/1 (1).png' %}" alt="">
						</div>
						<div class="item">
							<img src="{% static '/src/assets/img/rewies_nail/1 (2).png' %}" alt="">
						</div>
						<div class="item">
							<img src="{% static '/src/assets/img/rewies_nail/1 (3).png' %}" alt="">
						</div>
						<div class="item">
							<img src="{% static '/src/assets/img/rewies_nail/1 (4).png' %}" alt="">
						</div>
						<div class="item">
							<img src="{% static '/src/assets/img/rewies_nail/1 (5).png' %}" alt="">
						</div>
						<div class="item">
							<img src="{% static '/src/assets/img/rewies_nail/1 (6).png' %}" alt="">
						</div>
					</div>
					<!--   </div> -->
					<a class="arrow2" id="rightArrow" href="#">
						<img class="arrow" src="{% static '/src/assets/img/arrow.png' %}" alt="">
					</a>
				</div>

			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer id="contacts-scroll" class="footer">
		<div class="footer__wrap">
			<div class="footer__left">
				<div style="all: unset; position:relative;"><a
						href="https://yandex.ru/maps/16/yaroslavl/?utm_medium=mapframe&utm_source=maps"
						style="color:#eee;font-size:12px;position:absolute;top:0;">Ярославль</a>
					<iframe style="all: unset; width: 100%; height: 450px;"
						src="https://yandex.ru/map-widget/v1/?display-text=ramzi%20nail&ll=39.867812%2C57.580238&mode=search&sctx=ZAAAAAgBEAAaKAoSCYofY%2B5aNERAERiV1AloEExAEhIJz9csl43OmT8RotCy7h8LgT8iBgABAgMEBSgKOABAu58NSAFiK3JlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vRW5hYmxlQmVhdXR5RmlsdGVyPTFqAnJ1nQHNzEw9oAEAqAEAvQE%2FWuKawgEG7J%2Fc8v0E6gEA8gEA%2BAEAggIKcmFtemkgbmFpbIoCAJICBTEwMDYzmgIMZGVza3RvcC1tYXBz&sll=39.867812%2C57.580238&sspn=0.011921%2C0.003786&text=ramzi%20nail&z=17.37">
					</iframe>
				</div>
			</div>
			<div class="footer__right">
				<div class="footer__right__wrap">
					<h1>Наши контакты:</h1>
					<span>"Мы всегда рады помочь вам!"</span>
					<ul>
						<li>
							<div>What's App:</div>
							<a href="https://wa.me/+79022277790">+7-902-227-77-90</a>
						</li>
						<li>
							<div>Вконтакте:</div>
							<a target="_blank" href="https://vk.com/ramzi_school">https://vk.com/ramzi_school</a>
						</li>
						<li>
							<div>Инстаграм:</div>
							<a href="https://instagram.com/ramzi_nail?igshid=YmMyMTA2M2Y=">@ramzil_nail</a>
						</li>
						<li>
							<div>Режим работы:</div>
							<a href="https://yandex.ru/maps/org/ramzi_nail/171233972204/?from=mapframe&ll=39.866730%2C57.581042&z=16">ПН-ВС с 9:00 – 21:00</a>
						</li>
						<li>
							<div>Адрес:</div>
							<a href="https://yandex.ru/maps/org/ramzi_nail/171233972204/?from=mapframe&ll=39.866730%2C57.581042&z=16">Ярославль, улица Ньютона, 19</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>